body {
    background-color: white;
    font-family: 'Nunito', sans-serif;
}

.container1 {
    position: relative;
    background-color: rgb(197, 247, 255);
    width: 450px;
    height: 100px;
    /* border: 2px solid black; */
    
    display: flex;
    gap: 20px;
}

.container2 {
    position: relative;

    width: 450px;
    height: 700px;
    /* border: 2px solid black; */
}

.container3 {
    position: relative;
    width: 450px;
    transform: translate(650px,100px);
    border: 2px solid black;
}


.website_Name {
    margin-bottom: 10px;
    margin-left: 25px;
    margin-top: 30px;

    padding-top: 5px;

    width: 100px;
    height: 50px;

    /* border: 2px solid black; */

    text-align: left;
    font-size: large;
    font-weight: 1000;
}


.options_Container {
    font-size: 15px;
    width: 220px;
    height: 40px;

    margin-top: 29px;
    margin-left: -15px;

    display: flex;
    gap: 5px;

    /* border: 2px solid black; */
}

.option_box {
    /* border: 2px solid black; */
    padding: 5px;

    margin-left: 5px;
}

.profile_image {
    border: 2px solid black;
    text-align: center;

    margin-top: 40px;
    margin-left: -15px;

    width:50px;
    height:50px;
}

h1 {
    width: fit-content;
    margin-left: 25px;
    /* border:2px solid black; */
}

h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 550;
    /* border: 2px solid black; */

    margin-left: 25px;
    margin-top: -15px;

    width: 350px;

}

.welcome_Screen {
    position: relative;

    padding-top: 0px;
    /* border: 2px solid black; */
}

.habits_Container {
    /* border: 2px solid black; */
}

.habits_List {
    display: flex;
    gap: 15px;

    list-style: none;
    /* border: 2px solid black; */

    margin-left: 25px;
    margin-top: 10px;
    padding-left: 0px;

    width: 405px;
    height: 180px;   
}

.habit_Box1 {
    background-color: rgb(161, 198, 253);
    /* border: 2px solid black; */
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 70px;

    margin-top: 10px;
    margin-left: -2px;

    height: 80px;
    width: 80px;
    text-align: center;
}

.habit_Box2 {
    background-color: rgb(149, 242, 182);
    /* border: 2px solid black; */
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 70px;

    margin-top: 10px;
    margin-left: -2px;

    height: 80px;
    width: 80px;
    text-align: center;
}

.habit_Box3 {
    background-color: rgb(255, 161, 161);
    /* border: 2px solid black; */
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 70px;

    margin-top: 10px;
    margin-left: -2px;

    height: 80px;
    width: 80px;
    text-align: center;
}

.habit_Name {
    /* border: 2px solid black; */
    margin-top: 15px;
    margin-left: -2px;
    width: 85px;

    font-weight: 900;
}

.summary_Container {
    background-color: lightyellow;

    display: flex;
    gap: 0px;

    /* border: 2px solid black; */
    width: 400px;
    height: 125px;

    margin-top: 20px;
    margin-left: 27px;
}

.trophy_Image {
    /* border: 2px solid black; */

    font-size: 60px;
    width: 80px;
    height: 80px;

    margin-top: 20px;
    margin-left: 10px;
}

.encouragement {
    /* border: 2px solid black; */
    width: 290px;
    height: 80px;

    margin-top: 20px;
    margin-left: -1px;

    padding-top: 10px;

    text-align: left;

    font-size:22px;
}

.final_Message {
    margin-top: 15px;

    font-size: larger;
    text-align: center;
}
